rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Force redeployment: 2024-07-29-1500
    // This is a permissive rule for development. It allows any signed-in user
    // to read and write to any document in the database.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
